/* Design & related files: Copyright 2009 Mike Tigas
 * See http://miketigas.com/about/colophon/#license for usage/licensing restrictions.
 * *-min version compressed w/ http://www.cssdrive.com/index.php/main/csscompressoradvanced/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------- */

a { text-decoration: none }

/* ul { list-style-position: outside; } */
.item-body ul, .item-body ol {
    padding-left:1em;
    margin-left:0;
}

/* ------------------------------------------------------------------------- */

/*
@font-face {
  font-family: "ChunkFive";
  src: url("http://media.miketigas.com/style/20090714/Chunkfive.eot");
}
@font-face {
  font-family: "ChunkFive";
  src: local('ChunkFive'), url("http://media.miketigas.com/style/20090714/Chunkfive.otf") format("opentype");
}
*/

/* ------------------------------------------------------------------------- */





html, body {
	background: #fafafa;
	color:#222;
	font-family: "Arial", "HelveticaNeueLT", "Helvetica Neue", "helvetica", sans-serif;
	text-align: center;
	min-width:940px;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

a {
	color: #3B5B69;
	font-weight: bold;
}
a:hover {
	color: #56826A;
}
#footer a {
	font-weight: normal;
}

.item-content blockquote {
	margin-left: 2em;
	border-left: 1px solid #ccc;
	padding-left: 5px;
	line-height: 1.5em;
}
.item-content li {
	margin: .5em 0;
	line-height: 1.5em;
}

.wrapper {
	background: #fafafa;
	border-bottom:1px solid #ccc;
	padding:10px 10px 0 10px;
	width:840px;
	margin:0 auto;
	text-align:left;
}
.wrapper.first {
	border-top: none !important;
}
.wrapper.last {
	border-bottom: none !important;
}
.headfootwrap {
	width:100%;
	background: #444;
}
#header {
	color: #999;
	margin: 0 auto;
	margin-bottom: 15px !important;
	height: 60px;
	text-align: left;

	padding:0 10px 10px 10px;
	width:840px;
}
#header h1 {
	text-align: left;
	font-size: 30pt;
	line-height:.8em;
	float: left;
	margin: 10px 0 0 0;
	padding:0;
    font-family: "Trade Gothic", "Trade Gothic LT Std", "Trade Gothic LT", TradeGothic, TradeGothicLT, TradeGothicLTStd, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
#header h1, #header h1 a {
	color: #eee;
}
#header h1:hover, #header h1 a:hover {
	color: #ccc;
}
#tagline {
	color: #ccc;
	font-size: 14pt;
	line-height:.8em;
	margin:25px 0 0 7px;
	float: left;
	font-weight: 100;
}

#header-nav {
	vertical-align: bottom;
	padding:0;
	margin:25px 0 0 0;
	list-style-type:none;
	text-align:right;
	float:right;
	font-weight:bold;
	font-size: 12pt;
}
#header-nav li {
	display: inline;
	padding:5px 8px;
	margin: 0 5px;
	text-align:right;
}
#header-nav li:hover, #header-nav li.active,
#section-home #header-nav li#nav-home,
#section-blog #header-nav li#nav-blog,
#section-about #header-nav li#nav-about,
#section-work #header-nav li#nav-work {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
#header-nav li a {
	color: #bbb;
}
#header-nav li a:hover, #header-nav li:hover a, #header-nav li.active a,
#section-home #header-nav li#nav-home a,
#section-blog #header-nav li#nav-blog a,
#section-about #header-nav li#nav-about a,
#section-work #header-nav li#nav-work a {
	color: #eee !important;
}
/* -------------- */
h2 {
    font-size:28pt;
	font-family: "GraublauWeb", "HelveticaNeueLT", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: bold;
}
#content, .contentblock {
	width:520px;
	margin: 0;
	padding: 0;
	text-align: left;
	float:left;
}

.section-title {
	margin: 0;
	font-family: "GraublauWeb", "HelveticaNeueLT", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: red;
	font-size: 20px;
	line-height: 20px;
	clear:left;
}

.section-title a {
	color: red;
}
.item { float: left; width: 520px; padding: 1em 0; border-top: 1px solid #aaa; }
.item:first-child, .item.first, h1.first { border-top:none !important; padding-top: 0 !important; margin-top: 0 !important; }

.item-title {
	width:540px;
	margin: 0;
	/*font-family: "ChunkFive", "HelveticaNeueLT", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
	font-family: "GraublauWeb", "HelveticaNeueLT", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #222;
	font-size: 32px;
	line-height: 32px;
	padding: 0;
}
.item-title a {
	color:#222;
	text-decoration: none;
}
.item-title a:hover {
	color: #666;
}
.item-content {
	float:right;
	text-align: left;
	width: 500px;
	padding-right:20px;
}
.item-content p {
    line-height: 1.5em;
	margin: 1em 0;
}
.item-content p.first {
	margin-top: 0 !important;
}
.item-content h3 {
	width:540px;
	font-family: "HelveticaNeueLT", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #222;
	font-size: 26px;
	line-height: 26px;
	padding: 0;
	font-weight: 200;
}
.item-meta {
	color: #999;
    font-size:14px;
	margin-top:.4em !important;
}
.item-meta .item-date {
	color: #777;
    font-size:1.1em;
    font-weight:bold
}
.item-meta a {
	color: #999;
	font-weight:normal;
}
.item-meta a:hover {
	color: #555;
}
ul.pagination {
	clear: both;
	float:none;
	display:block;
	width:520px;
	padding: 1em 0;
	border-top: 1px solid #aaa;
	list-style: none;
	margin: 1em 0;
}
ul.pagination li {
	width:50%;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
ul.pagination li:hover {
	background: #eee;
}
ul.pagination li a {
	width: 100%;
	display:block;
}
ul.pagination li.prev {
	float:left;
	text-align: left;
}
ul.pagination li.next {
	float:right;
	text-align: right;
}

.sidebar {
	color: #777;
	float:right;
	width:300px;
	text-align: left;
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 14px;
}
.sidebar-title {
	font-family: "GraublauWeb", "HelveticaNeueLT", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #444;
	font-size: 20px;
	line-height: 20px;
	margin: 1em 0 .5em 0;
	font-weight: normal;
}
.sidebar-title a {
	color: #444;
	text-decoration: none;
	font-weight: normal;
}
.sidebar-title a:hover {
	color: #000;
}
.sidebar ul, .sidebar ol, .sidebar li {
	list-style: none outside;
	margin-left:0;
	padding-left:0;
}
.sidebar :first-child {
	margin-top: 0 !important;
}
.sidebar p, .frontpage_col p {
    line-height: 1.25em;
	margin: 1em 0;
}
.sidebar-link {
	margin: 1em 0;
}
.sidebar h3, .sidebar h3 a {
	font-weight: bold
}
.sidebar-link h3, .sidebar-link p{
	margin:0;
}
.sidebar .comment {
	color: #555;
}
.quietlinks a {
	color: #444;
}
.sidebar .comment a {
	font-weight: normal;
}
.quietlinks a:hover {
	color: #000;
}
.owncomment {
	background: #FAF9F0;
}
.comment img.avatar {
	border:1px solid #ddd;
	opacity:0.65;
	filter:alpha(opacity=65);
}
.comment:hover img.avatar {
	opacity:.85;
	filter:alpha(opacity=85);
}
#footer {
	color:#ddd;
	text-align: left;
	margin: 15px auto 0 auto;
	font-size:15px;

	padding:15px 10px;
	width:840px;
}
#footer-left, #footer-mid, #footer-right{
	float:left;
	line-height:1.2em;
	padding: 5px 0;
	margin: 5px 0;
	width:300px;
}
#footer-mid, #footer-right {
	margin-left:20px;
}
#footer-left {
    width: 510px;
}
#footer-right{
    margin-left:30px;
}
#footer a { color:#ddd; font-weight:bold; }
#footer a:hover { color:#fff; }

#footer a.about-link {
	font-weight:normal;
	color:#ddd;
}
#footer a.about-link strong {
	color:#fff
}
#footer a.about-link:hover { color:#fff; }

.clear {
	clear:both;
}
.dquo {
	margin-left: -.5em;
}
br.clear {
	height:1px;
	margin-top:-1px;
}

.frontpage_col  {
	float:left;
	/*
	padding: 5px 0;
	margin: 5px 0 5px 20px;
	*/
	width:300px;

	color: #444;
	font-size: 14px;
}

.frontpage_col li {
	list-style:none;
	margin: 1em 0;
}

.frontlink{
	float:right;
	margin-bottom: 1em;
	background:#eee;
	text-align:right;
	padding: 5px 5px 5px 30px;

	border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
}

.frontlink a {
	color: #444;
}
.frontlink a:hover {
	color: #000;
}

.sidebarphoto_thumb img {
	border: 1px solid #333;
	width:80px;
}

.bordertop {
	border-top:1px solid #aaa;
	padding-top:1em;
	margin-top:1em;
}

.song, .book {
	clear: both;
	vertical-align: middle;
	margin: 2em 0;
}
.book {
	margin:0;
	padding: 1.2em 0 0 0;
}
.song p {
	margin-top:5px;
	vertical-align: middle;
}
.book p {
	margin-top:10px;
	vertical-align: middle;
}
.song img, .book img {
	width:50px;
	border: 1px solid #aaa;
	display:block;
	float:left;
	margin-right:5px;

	opacity:0.75;
	filter:alpha(opacity=75);
}
.song:hover img, .book:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}

/* ------------------------------------------------- */

img.traq {
	border:none !important;
	margin:0 !important;
	padding:0 !important;
	width:1px !important;
	height:1px !important;
	opacity:0.01 !important;
	filter:alpha(opacity=1) !important;
    z-index: -10000 !important;
	float:left !important;
	display:block !important;
}


sup,sub {
	vertical-align: baseline;
	font-size: 0.7em;
	position: relative;
	margin-right: 0.125em;
}
sup {
	top: -0.5em;
}
sub {
	top: 1.5em;
}

#section-work ul.portfolio {list-style: none outside;margin-left:0;padding-left:0}
#section-work ul.portfolio li {margin-left:0;left:0}
#section-work ul.portfolio li p.teaser img {
    border: 1px solid #444;
    margin:0;padding:0;
}
#section-work ul.portfolio li ul.details li {margin:.25em 0}

#content p.teaser {
    margin:1em 0 1em -100px;
    padding:0;
    width:600px;
}

.portfolio h3, .portfolio h3 a { color: #111; font-size:24px; font-weight: 200; }
.portfolio h3 a:hover { color: #555; }
