html, body, .wrap_a {
    color: #fff;
    background: #222;
}
#pagecontent, .wrap_b {
    background:#fff;
	color: #333;
}
a {
    color: #666;
}
a:hover {
    color: #000;
}

h1 a, h2 a, h3 a {
    color: #111;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    color: #888;
}

blockquote {
	color: #444;
}

.meta, .nav {
    color: #ccc;
}
.nav span {
    color: #ddd;
}
.subtitle, .subtitle a {
    color: #888;
}
.meta a, .nav a, .nav span.current a:hover {
    color: #888;
}
.subtitle a:hover, .meta a:hover, .nav a:hover, .nav span.current a {
    color: #000;
}
.subtitle a, .nav a {
    border: none;
}

#header a {
    color: #fff;
}
#header a:hover {
    color: #888;
}

#footer a {
    color: #bbb;
}
#footer a:hover {
    color: #fff;
}
.sitesearch input {
    text-align: center;
}


hr {
    height:0;
    border: none 0;
    border-bottom:1px solid #ccc;
    color: #ccc;
    background: #ccc;
}