{% extends 'blog/_base.html' %}
{% load site_bits %}

{% block content %}
{% for post in object_list %}
    {% ifequal page_obj.number 0 %}{% include 'blog/_post_display.html' %}
    {% else %}{% include 'blog/_post_display.html' %}
    {% endifequal %}
{% endfor %}

{% nav_footer %}
{% endblock %}

{% block endbody %}
{{ block.super }}
<script type="text/javascript">
var serverProto = (("https:" == document.location.protocol) ? "https" : "http");
document.write(unescape("%3Cscript src='" + serverProto + "://dnn506yrbagrg.cloudfront.net/pages/scripts/0000/5628.js' type='text/javascript'%3E%3C/script%3E"));
</script>
{% endblock %}