<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{% block title %}Mike Tigas{% endblock %}</title>
<meta name="description" content="{% block meta_description %}Loud thinking from the mind of Mike Tigas.{% endblock %}"/>
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
<meta name="ICBM" content="47.658, -117.426"/>
<meta name="geo.position" content="47.658;-117.426"/>
<meta name="geo.country" content="US"/>
<meta name="geo.region" content="US-WA"/>

<link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon.png" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}favicon.ico" />

<link rel="alternate" type="application/atom+xml" title="Latest Posts Feed" href="http://feeds.feedburner.com/mtigas"/> 

<link rel="me" type="text/html" href="http://www.google.com/profiles/mike.tigas"/>
<link rel="me" type="text/html" href="http://www.twitter.com/mike.tigas"/>
<link rel="me" type="text/html" href="http://www.facebook.com/mike.tigas"/>


<link rel="apple-touch-icon" href="{{ MEDIA_URL }}icon60.png" />
<meta name="viewport" content="width=600,maximum-scale=1.5"/>
<meta name="google-site-verification" content="WHzeL7iT8fTO9nw5kIpbkOOhR9dwEFZDV85O_IN0OQs"/>

<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}style/201008/unified.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}style/201008/init-min.js"></script>
{% block headextra %}{% endblock %}
</head>

<body>
    <div class="wrap_a"><div id="header">{% block headerdiv %}
        <h1>{% block h1 %}<a href="/"><a href="{% url blog:home %}">Minuti&aelig;</a>{% endblock %}</h1>
        <p id="tagline">{% block tagline %}Loud thinking from the mind of <a href="/" class="name">Mike Tigas</a>.{% endblock %}</p>
    {% endblock %}</div></div>

    <div class="wrap_b"><div id="pagecontent">
        {% block content %}{% endblock %}
    </div></div>

    <div class="wrap_a"><div id="footer">{% block footerdiv %}
        <p>Mike Tigas (<a href="/about/">about</a>, <a href="/contact/">contact</a>) is a Spokane, Washington-based Web and mobile applications developer with experience in the media industry (<a href="/portfolio/">portfolio</a>).</p>
        <p>Powered by <a href="http://www.djangoproject.com/">Django</a>. <a href="/colophon/" title="Colophon">See the colophon</a> and <a href="http://github.com/mtigas/minutiae">the source code</a>.</p>
        <p>&#169; 2001&ndash;{% now "Y" %} Mike Tigas, <a href="/colophon/#license">all rights reserved &mdash; see license for details</a>.</p>
    {% endblock %}<br class="clear"/></div></div>

{% block endbody %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3595949-3");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endblock %}
</body>
</html>