{% extends 'flatpages/default.html' %}

{% block title %}Bio - Mike Tigas{% endblock %}
{% block meta_description %}Biography of Mike Tigas, Web developer.{% endblock %}

{% block h1 %}<a href="/">Mike Tigas: Bio</a>{% endblock %}
{% block tagline %}Web developer. Photographer. Caffeine addict.{% endblock %}

{% block content %}
<div class="flatpage" id="flatpage-about">
    <!-- <h2><a href="/about/">Bio</a></h2> -->
    
    <div class="content">
        
        <h3>So&hellip; who are you?</h3>
        <p>I&rsquo;m <strong>Mike Tigas</strong> and <a href="/portfolio/">I&rsquo;m a freelance Web developer</a></strong>. Most of my work is in <strong>Python/Django</strong> programming. My expertise is in Web applications, though I also have experience with iPhone application development and <a href="http://en.wikipedia.org/wiki/Geographic_information_system">GIS</a>/mapping tools.</p>
        <p><strong>Clients and brands I&rsquo;ve worked with include</strong>: <a href="http://www.spokesman.com/">The Spokesman-Review</a> (Spokane, Wash.), <a href="http://www.komu.com/">KOMU-8 TV</a> (NBC affiliate; Columbia, Mo.), and Infinity Ward&rsquo;s <a href="http://www.modernwarfare2.com/"><em>Call of Duty: Modern Warfare 2</em></a>. For more details on projects I&rsquo;ve worked on, <a href="/portfolio/">visit my portfolio</a>.</p>
        
        <p><strong>Elsewhere</strong>: I help maintain <strong><a href="http://code.google.com/p/geopy/">GeoPy</a></strong>, an open-source geocoding toolkit for Python. I also occasionally open-source snippets, tools, and projects <a href="http://github.com/mtigas">on Github</a>. </p>
        
        <h3 id="contact">Can we get in touch?</h3>
        <p>E-mail me! <a href="/contact/">You can use this convenient form</a>, or you can get my address <a href="http://mailhide.recaptcha.net/d?k=01aYSfVmgqG26v17kO0wSinQ==&amp;c=JgagO5nRsS3pKpIFHZvlZQ==">here</a> and e-mail me the old-fashioned way. (Fan of PGP/GPG encryption? <a href="https://s3.amazonaws.com/media.miketigas.com/public_key_2010.txt">My public key is here</a>.)</p>
        
        <h3>Anything else?</h3>
        <p>R&eacute;sum&eacute; &amp; references available on request. If you&rsquo;re interested in my work, I implore you to visit my <a href="/portfolio/">portfolio</a>.</p>
        <p>There&rsquo;s also <a href="/colophon/">a colophon</a>, detailing some of the design and programming behind this Web site.</p>
    </div>
</div>
{% endblock %}
