{% extends 'flatpages/default.html' %}
{% load site_bits %}

{% block h1 %}{{ block.super }}: Colophon{% endblock %}

{% block content %}
<div class="flatpage" id="flatpage-colophon">
    <div class="content">
        <h3>A brief history</h3>
        <p>This Web site has evolved from a simple blog which was maintained by hand, in raw HTML. In 2004, I switched to the now-defunct <b>pMachine</b> CMS because the manual archiving and indexing process was becoming a <i>royal pain</i>. pMachine was replaced by <b>WordPress</b> a mere three months later and I kept with it for a good four years.</p>
        <p>I started playing with Django in late 2007 while working at <a href="http://www.themaneater.com/">The Maneater Student Newspaper</a>. Along the way, I picked up the urge to build myself a blog &mdash; from scratch, in Django. It seems a common <a href="http://jeffcroft.com/">rite</a> <a href="http://www.b-list.org/">of</a> <a href="http://www.devurandom.org/">passage</a> among Django developers these days.</p>
        <p>In 2008, I broke down and did it. In early 2009, the site went through a minor redesign. In 2010, the site was completely rewritten to cut out some of the messier bits.</p>

        <h3 id="design">Design</h3>
        <p></p>
        <ul>
        <li>Pages are 500px wide, in a one-column setup.</li>
        <li>Main header fonts are generally <a href="http://en.wikipedia.org/wiki/Helvetica">Helvetica Neue Light</a>, <a href="http://www.josbuivenga.demon.nl/museosans.html">Museo Sans 100</a>, <a href="http://www.ellak.gr/fonts/mgopen/">MgOpenModerna</a>,  <a href="http://en.wikipedia.org/wiki/Segoe">Segoe UI</a> or something similar. (This changes occasionally.)</li>
        <li>The body (and small header) font is <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=gentium">Gentium Basic</a>. The base font size is around 16px &mdash; much larger than most sites use. Generally, I try to follow the rule of thumb of <i>60&ndash;80 characters per line</i>. The theory behind these choices are inspired by Robert Bringhurst&rsquo;s <a href="http://www.amazon.com/gp/product/0881792063?ie=UTF8&amp;tag=a139edb21c-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0881792063">Elements of Typographic Style</a><img src="http://www.assoc-amazon.com/e/ir?t=a139edb21c-20&amp;l=as2&amp;o=1&amp;a=0881792063" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> and this <a href="http://www.wilsonminer.com/posts/2008/oct/20/relative-readability/">design and discussion by Wilson Miner</a>.</li>
        <li>By the way, some custom fonts are loaded via the CSS3 @font-face tag &mdash; which is amazingly supported by Internet Explorer 6. You can read about it <a href="http://www.css3.info/preview/web-fonts-with-font-face/">here</a> or <a href="https://developer.mozilla.org/index.php?title=En/CSS/@font-face">here</a>.</li>
        </ul>
        
        <h3 id="backend">Backend</h3>
        <ul><li>The meat-and-potatoes of the site consist of a custom-built blogging app (among other tools) programmed in <a href="http://python.org/">Python</a> and powered by <a href="http://www.djangoproject.com/">the Django framework</a>.<ul><li>I&rsquo;m using Django&rsquo;s trunk version and update it occasionally. My server says I&rsquo;m running the following Django version: <code>{% current_django_version %}</code>.</li></ul></li>
        <li>I use <a href="http://code.google.com/p/typogrify/">typogrify</a> to keep headlines neat and tidy.</li>
        <li><a href="http://bitbucket.org/ubernostrum/django-contact-form/">django-contact-form</a> powers <a href="/contact/">the contact form</a>. (Of course!)</li>
        </ul>
        <h3>Hosting</h3>
        <ul>
        <li>This site is hosted on a 256 slice at <a href="http://www.slicehost.com/">Slicehost</a>, in my good ol&rsquo; hometown of St. Louis, Missouri. They rock.</li>
        <li>My server runs <a href="http://www.ubuntu.com/">Ubuntu 9.10</a> using <a href="http://wiki.nginx.org/">nginx</a> in front of Apache, which serves <a href="http://docs.djangoproject.com/en/dev/howto/deployment/modwsgi/">Django via mod_wsgi</a>. Data lives in <a href="http://www.postgresql.org/">PostgreSQL</a>. <a href="http://www.danga.com/memcached/">Memcached</a> is used here and there to speed things up a bit &mdash; <a href="http://weichhold.com/2008/09/12/django-nginx-memcached-the-dynamic-trio/">nginx even directly serves pages from the Django cache</a>, for <a href="http://codysoyland.com/2010/jan/17/evaluating-django-caching-options/">awesome performance</a>.</li>
        <li>Media is stored in <a href="http://aws.amazon.com/s3/">Amazon S3</a> and served out of <a href="http://aws.amazon.com/cloudfront/">CloudFront</a>. Text-based static files are served on a <a href="http://code.google.com/appengine/docs/whatisgoogleappengine.html">Google App Engine</a> instance, since Amazon S3 doesn&rsquo;t gzip compress (which is a killer for large JS/CSS). This is all overkill, but it&rsquo;s a cheap (or in App Engine&rsquo;s case, <i>free</i>) <a href="http://en.wikipedia.org/wiki/Content_delivery_network"><abbr title="Content Delivery Network">CDN</abbr></a> to play around with.</li>
        <li>Oh, and I register most of my domains through <a href="http://www.godaddy.com/">GoDaddy</a> and the tig.as domain is registered directly at the <a href="https://nic.as/">.AS Domain Registry</a>. I manually edit my DNS records in SliceHost&rsquo;s panel.</li>
        </ul>
        <h3 id="license">License</h3>
        <p>Unless otherwise noted, all content on this site is &#169; 2001&ndash;{% now "Y" %} Mike Tigas. Usage rights for different parts vary:</p>
        <ul><li>Text content: <b>some rights reserved</b>, unless otherwise noted:
            <ul><li>You&rsquo;re free to quote and otherwise reuse text content within the bounds of the <a href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial license</a>. This means that I explicitly give you the ability to quote me, but you <b>must give me credit</b> and you <b>cannot use any content for commercial purposes</b> without my written consent. (And I <i>do</i> give permission &mdash; just ask!)</li></ul>
        </li>
        <li>Photos are <b>all rights reserved</b> unless otherwise noted:
            <ul><li>Most of my Flickr images have Creative Commons licensing &mdash; click the image and check the original photo page for details. If you can&rsquo;t find license information, don&rsquo;t use it without asking.</li></ul>
        </li>
        <li>Design is <b>some rights reserved</b>, unless otherwise noted:
            <ul><li>Learn from it! Like text content, the design can be used under the <a href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial license</a> &mdash; so please grab it and modify it to your own whims, but <b>you must give credit back</b>. By the way: you should <a href="http://www.37signals.com/svn/posts/1561-why-you-shouldnt-copy-us-or-anyone-else">never <i>directly copy</i> someone else&rsquo;s design</a>, anyway &mdash; it&rsquo;s bad karma and you won&rsquo;t learn a thing.</li></ul>
        </li>
        </ul>
        <h3 id="questions">Questions?</h3>
        <p>Questions about any of this? <a href="/about/#contact">Seek out my contact information</a> and ask me &mdash; I&rsquo;d be glad to tell you more.</p>
    </div>
</div>
{% endblock %}