{% extends 'flatpages/default.html' %}

{% block title %}Portfolio - Mike Tigas{% endblock %}
{% block meta_description %}Portfolio of Mike Tigas, Web developer.{% endblock %}

{% block h1 %}<a href="/">Mike Tigas: Portfolio</a>{% endblock %}
{% block tagline %}Web developer. Photographer. Caffeine addict.{% endblock %}


{% block headextra %}
<script type="text/javascript">
    jQuery(function() {
        var currentSlide = 0;
        var slides = jQuery("#portfolio-slider .portfolio-item");
        var numSlides = slides.length;

        /*
        jQuery("#portfolio-prev a").click(function() {return false;});
        jQuery("#portfolio-next a").click(function() {return false;});
        */
        
        var updateNav = function(slideIndex){
            if(slideIndex==0)  { jQuery('#portfolio-prev').hide(); }
            else { jQuery('#portfolio-prev').show(); }
            if(slideIndex==numSlides-1) {  jQuery('#portfolio-next').hide(); }
            else { jQuery('#portfolio-next').show(); }
            
            //jQuery("#portfolio-slider").children().first().css('margin-top',''+(-510*currentSlide)+'px');
            
            jQuery("#portfolio-slider").children().first().animate({
                marginTop: -515*(currentSlide)
            });
            
        };
        updateNav(0);
        
        jQuery("#portfolio-prev a").click(function() {
            currentSlide = currentSlide-1;
            updateNav(currentSlide);
            return false;
        });
        jQuery("#portfolio-next a").click(function() {
            currentSlide = currentSlide+1;
            updateNav(currentSlide);
            return false;
        });
        
        jQuery("#portfolio-slider").css('overflow','hidden');
    });
</script>
<style type="text/css">
    #portfolio-prev {
        float:left;
    }
    #portfolio-next {
        float:right;
    }
    #portfolio-slider {
        width:510px;
        height:505px;
        overflow:auto;
        position:relative;
        margin:0;
        padding:0;
    }
    .portfolio-item {
        width:505px;
        height:500px;
        overflow:hidden;
        margin:0 0 15px 0;
        padding:0;
    }
    .portfolio-item h2 {
        margin:0 0 10px 0;
    }
    .portfolio-item p{
        text-align:center;
        margin:0 auto;
    }
    .portfolio-item ul, .portfolio-item ul li {
        list-style-position:outside;
        list-style-type:none;
        margin-top:0;
        padding-top:0;
        margin-left: 0;
        padding-left: 0;
    }
    .portfolio-item ul li ul {
        padding-left: 2em;
    }
    .portfolio-item h2 {
        font-size: 20pt;
    }
</style>

{% endblock %}

{% block content %}
<div class="flatpage" id="flatpage-portfolio">
        <p>This is an overview of some of the projects I&rsquo;ve worked on. For a more general overview of what I do, <a href="/about/">check out my bio</a>.</p>
        <hr />
        
        <div id="portfolio-prev"><a href="#">&laquo;&nbsp;Previous Project</a></div>
        <div id="portfolio-next"><a href="#">Next Project&nbsp;&raquo;</a></div>
        <br class="clear" style="margin-bottom:1em"/>

        <div id="portfolio-slider">
            <div class="portfolio-item" id="komunews">
                <h2>KOMU News for iPhone</h2>
                <p><a href="http://www.komu.com/"><img src="http://media1.mike.tig.as/files/20100129/komu.jpg" alt="KOMU News iPhone App" width="500"/></a></p>
                <div class="description">
                    <ul>
                        <li>Winter 2009: Objective-C development, PHP middleware development</li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item" id="mmpr">
                <h2>Mighty Morphin Power Rangers</h2>
                <p><a href="http://www.bandai.com/powerrangers/mmpr/"><img src="http://media3.mike.tig.as/style/201001/images/mmpr-500.png" alt="Mighty Morphin Power Rangers" width="500"/></a></p>
                <div class="description">
                    <ul>
                        <li>Winter 2009: PHP backend development<ul><li>custom CMS admin panel, storefront management system</li></ul></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item" id="mw2">
                <h2>Call of Duty: Modern Warfare 2</h2>
                <p><a href="http://modernwarfare2.infinityward.com/"><img src="http://media1.mike.tig.as/files/20100802/mw2-1000.png" alt="Modern Warfare 2" width="500"/></a></p>
                <ul>
                    <li>Fall 2009: PHP backend development<ul><li>CMS customizations, internationalization backend, social network API integration</li></ul></li>
                </ul>
            </div>
            <div class="portfolio-item" id="spokesman">
                <h2>Spokesman.com</h2>
                <p><a href="http://www.spokesman.com/"><img src="http://media1.mike.tig.as/files/20100802/spokesman-1000b.png" alt="The Spokesman-Review" width="500"/></a></p> 
                <ul>
                    <li>2008-Present: Django/Python backend development<ul><li>data modeling, custom full-text search backend, <a href="http://www.opencalais.com/">Reuters OpenCalais</a> integration, GIS (geolocation, mapping) development, dynamic (jQuery/AJAX) user interface development</li></ul></li>
                </ul>
            </div>
            <div class="portfolio-item" id="maneater">
                <h2>The Maneater Student Newspaper</h2>
                <p><a href="http://www.themaneater.com/"><img src="http://media1.mike.tig.as/files/20090214/maneater.png" alt="The Maneater Student Newspaper" width="500"/></a></p> 
                <ul>
                    <li>2006-2007: Online Editor / 2007-2008: Asst. Online Editor
                        <ul><li>Managed content updates, including breaking news. Maintained PHP-powered Web site from 2006-2007. Developed and deployed <a href="/2008/02/10/themaneatercom-launch/">new Django-powered Web site</a> in early 2008. Implemented, produced, and managed initial multimedia offerings including podcasts.</li></ul>
                    </li>
                </ul>
            </div>
            <div class="portfolio-item" id="nna">
                <h2>The National Newspaper Association</h2>
                <p><a href="http://www.nna.org/"><img src="http://media1.mike.tig.as/files/20090214/nna2.png" alt="The National Newspaper Association" width="500"/></a></p> 
                <ul>
                    <li>2007: PHP frontend/backend development
                        <ul><li>Designed and integrated a complete Web site overhaul from aged, proprietary CMS into a Wordpress-powered backend.</li></ul>
                    </li>
                </ul>
            </div>
        </div><!-- portfolio-slider -->
        
</div><!-- flatpage -->
{% endblock %}
