{% extends 'flatpages/default.html' %}

{% block title %}Portfolio - Mike Tigas{% endblock %}
{% block meta_description %}Portfolio of Mike Tigas, Web developer.{% endblock %}

{% block h1 %}<a href="/">Mike Tigas: Portfolio</a>{% endblock %}
{% block tagline %}Web developer. Photographer. Caffeine addict.{% endblock %}


{% block headextra %}
<script type="text/javascript">
    jQuery(function() {
        var currentSlide = 0;
        var slides = jQuery("#portfolio-slider .portfolio-item");
        var numSlides = slides.length;

        jQuery("#portfolio-nav").css('display','block');
        jQuery("#portfolio-box").css('width','505px').css('height','410px').css('overflow','hidden');


        jQuery("#portfolio-slider").css('width',''+numSlides*510+'px');
        jQuery(".portfolio-item").css('float','left').hover(function() {
            jQuery(this).children("h2, .description").animate({
                opacity:0.0
            }, 500);
        }, function() {
            jQuery(this).children("h2, .description").animate({
                opacity:0.85
            }, 500);
        });
        /*
        jQuery("#portfolio-prev a").click(function() {return false;});
        jQuery("#portfolio-next a").click(function() {return false;});
        */
        
        var updateNav = function(slideIndex){
            if(slideIndex==0)  { jQuery('#portfolio-prev').hide(); }
            else { jQuery('#portfolio-prev').show(); }
            if(slideIndex==numSlides-1) {  jQuery('#portfolio-next').hide(); }
            else { jQuery('#portfolio-next').show(); }
            
            var txt = "";
            for (var i=0;i<slideIndex;i++) {
                txt += "&#9675;";
            }
            
            txt += '<span style="color:#000">&#9679;</span>';
            for (var i=slideIndex;i<numSlides-1;i++) {
                txt += "&#9675;";
            }
            jQuery("#portfolio-page").html(txt);
            
            jQuery("#portfolio-slider").animate({
                marginLeft: -505*(currentSlide)
            });
        };
        updateNav(0);
        
        jQuery("#portfolio-prev a").click(function() {
            currentSlide = currentSlide-1;
            updateNav(currentSlide);
            return false;
        });
        jQuery("#portfolio-next a").click(function() {
            currentSlide = currentSlide+1;
            updateNav(currentSlide);
            return false;
        });
    });
</script>
<style type="text/css">
    #portfolio-nav {
        display:none;
        
        width:510px;
        height:3em;
        position:relative;
    }
    #portfolio-prev {
        position:absolute;
        left:0;
        z-index:100;
    }
    #portfolio-page {
        position:absolute;
        width:510px;
        text-align:center;
        color:#999  ;
    }
    #portfolio-next {
        position:absolute;
        right:0;
        z-index:100;
    }
    
    #portfolio-box {
        margin:0;
        padding:0;
    }
    #portfolio-slider {
        width:510px;
        /*
        height:505px;
        overflow:auto;
        */
        position:relative;
        margin:0;
        padding:0;
    }
    .portfolio-item {
        position:relative;
        width:505px;
        overflow:hidden;
        margin:0 0 15px 0;
        padding:0;
    }
    .portfolio-item h2 {
        margin:0 0 10px 0;
    }
    .portfolio-item p{
        text-align:center;
        margin:0 auto;
    }
    .portfolio-item ul, .portfolio-item ul li {
        list-style-position:outside;
        list-style-type:none;
        margin-top:0;
        padding-top:0;
        margin-left: 0;
        padding-left: 0;
    }
    .portfolio-item ul li ul {
        padding-left: 2em;
    }
    .portfolio-item h2 {
        position: absolute;
        width: 502px;
        color: #fff;
        background: #111;
        opacity: .85;
        top:0;
        font-size: 20pt;
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
    }
    p.portfolio-img, p.portfolio-img img{
        width:500px;
        text-align:left;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        margin:0;
        padding:0;
        vertical-align: bottom;
    }
    .portfolio-item .description {
        position:absolute;
        width: 492px;
        bottom:0;
        padding:0 5px;
        margin:0;
        border-radius:0 0 10px 10px;
        -webkit-border-radius:0 0 10px 10px;
        -moz-border-radius:0 0 10px 10px;
        background: #111;
        opacity: .85;
        color: #eee;
    }
</style>

{% endblock %}

{% block content %}
<div class="flatpage" id="flatpage-portfolio">
        <p>This is an overview of some of the projects I&rsquo;ve worked on. For a more general overview of what I do, <a href="/about/">check out my bio</a>.</p>
        <hr />
        <h3>Major Projects</h3>
        
        <div id="portfolio-nav">
        <div id="portfolio-prev"><a href="#">&laquo;&nbsp;Previous Project</a></div>
        <div id="portfolio-page">&bull;</div>
        <div id="portfolio-next"><a href="#">Next Project&nbsp;&raquo;</a></div>
        <br class="clear" style="margin-bottom:1em"/>
        </div>
        
        <div id="portfolio-box">
        <div id="portfolio-slider">
            <div class="portfolio-item" id="komunews">
                <p class="portfolio-img"><a href="http://www.komu.com/"><img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100129/komu.jpg" alt="KOMU News iPhone App"/></a></p>

                <h2>KOMU News for iPhone</h2>
                <div class="description">
                    <ul>
                        <li>Winter 2009: Objective-C development, PHP middleware development</li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item" id="mmpr">
                <p class="portfolio-img"><a href="http://www.bandai.com/powerrangers/mmpr/"><img src="https://mtigas1.appspot.com/style/201001/images/mmpr-500.png" alt="Mighty Morphin Power Rangers"/></a></p>

                <h2>Mighty Morphin Power Rangers</h2>
                <div class="description">
                    <ul>
                        <li>Winter 2009: PHP backend development<ul><li>custom CMS admin panel, storefront management system</li></ul></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item" id="mw2">
                <p class="portfolio-img"><a href="http://modernwarfare2.infinityward.com/"><img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100802/mw2-1000.png" alt="Modern Warfare 2"/></a></p>

                <h2>Call of Duty: Modern Warfare 2</h2>
                <div class="description">
                    <ul>
                        <li>Fall 2009: PHP backend development<ul><li>CMS customizations, internationalization backend, social network API integration</li></ul></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item" id="spokesman">
                <p class="portfolio-img"><a href="http://www.spokesman.com/"><img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100802/spokesman-1000b.png" alt="The Spokesman-Review"/></a></p> 

                <h2>Spokesman.com</h2>
                <div class="description">
                    <ul>
                        <li>2008-Present: Django/Python backend development<ul><li>data modeling, custom full-text search backend, Reuters OpenCalais integration, GIS (geolocation, mapping) development, dynamic (jQuery/AJAX) user interface development</li></ul></li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item" id="maneater">
                <p class="portfolio-img"><a href="http://www.themaneater.com/"><img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20090214/maneater.png" alt="The Maneater Student Newspaper"/></a></p> 
                
                <h2>The Maneater Student Newspaper</h2>
                <div class="description">
                    <ul>
                        <li>2006-2007: Online Editor / 2007-2008: Asst. Online Editor
                            <ul><li>Managed content updates, including breaking news. Maintained PHP-powered Web site from 2006-2007. Developed and deployed new Django-powered Web site in early 2008. Implemented, produced, and managed initial multimedia offerings including podcasts.</li></ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="portfolio-item" id="nna">
                <p class="portfolio-img"><a href="http://www.nna.org/"><img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20090214/nna2.png" alt="The National Newspaper Association"/></a></p> 
                
                <h2>The National Newspaper Association</h2>
                <div class="description">
                    <ul>
                        <li>2007: PHP frontend/backend development
                            <ul><li>Designed and integrated a complete Web site overhaul from aged, proprietary CMS into a Wordpress-powered backend.</li></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- portfolio-slider -->
        </div><!-- portfolio-box -->

        <hr />
        <h3>Miscellaneous</h3>
        <ul>
            <li><a href="http://nationbrowse.com/">NationBrowse</a>, a university capstone project to dynamically map census data (<a href="/blog/2010/02/22/nationbrowse/">write-up</a>, <a href="http://github.com/mtigas/cs4970_capstone">source code</a>)</li>
            <li><a href="http://github.com/mtigas/django-gheat">django-gheat</a>, a heatmap-making toolkit for Django projects (<a href="http://gheat.miketigas.com/">demo</a>)</li>
            <li><a href="http://code.google.com/p/geopy/">geopy</a>, a Python client for Web-based geocoding APIs</li>
            <li>And various other snippets and projects <a href="http://github.com/mtigas">on GitHub</a></li>
        </ul>
</div><!-- flatpage -->
{% endblock %}
