<a id="share-{{ post.id }}" href="" onclick="jQuery('#sharelinks-{{ post.id }}').slideToggle(500);return false;">share</a>
<ul id="sharelinks-{{ post.id }}" class="social_icon_list" style="display:none;width:240px">{% spaceless %}

<li><a href="http://delicious.com/save?url={{ absolute_uri|urlencode }}&amp;title={{ post.title|urlencode }}" target="_blank">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/delicious_16.png" class="small" alt="Delicious" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/delicious_32.png" alt="Delicious" />
</a></li>

<li><a href="http://digg.com/submit?url={{ absolute_uri|urlencode }}&amp;title={{ post.title|urlencode }}&amp;bodytext={{ post.body|truncatewords:15|urlencode }}" target="_blank">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/digg_16.png" class="small" alt="Digg" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/digg_32.png" alt="Digg" /></a></li>

{% comment %}<li><a href="">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/email_16.png" class="small" alt="Email" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/email_32.png" alt="Email" /></a></li>{% endcomment %}

<li><a href="http://www.facebook.com/sharer.php?u={{ absolute_uri|urlencode }}&amp;t={{ post.title|urlencode }}" target="_blank">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/facebook_16.png" class="small" alt="Facebook" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/facebook_32.png" alt="Facebook" /></a></li>

<li><a href="http://www.reddit.com/submit?url={{ absolute_uri|urlencode }}" target="_blank">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/reddit_16.png" class="small" alt="Reddit" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/reddit_32.png" alt="Reddit" /></a></li>

<li><a href="http://www.stumbleupon.com/submit?url={{ absolute_uri|urlencode }}&amp;title={{ post.title|urlencode }}" target="_blank">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/stumbleupon_16.png" class="small" alt="StumbleUpon" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/stumbleupon_32.png" alt="StumbleUpon" /></a></li>

<li><a href="http://technorati.com/faves?add={{ absolute_uri|urlencode }}" target="_blank">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/technorati_16.png" class="small" alt="Technorati" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/technorati_32.png" alt="Technorati" /></a></li>

<li><a href="https://twitter.com/home?status=Currently+reading+'{{ post.title|urlencode }}'+(https://mike.tig.as/{% if flatpage %}f{% else %}b{% endif %}/{{ post.id }})+/by+@mtigas" target="_blank">
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/twitter_16.png" class="small" alt="Twitter" />
    <img src="https://d2p12wh0p3fo1n.cloudfront.net/files/20100101/social_networking_iconpack/twitter_32.png" alt="Twitter" /></a></li>

{% endspaceless %}</ul>